/*HEADER-START*/
header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
/*HEADER-TOP-START*/
.header-top{
    padding: 50px;
    grid-template-columns: 360px 280px;
    justify-content: space-between;
}
.header-top-right{
    grid-template-columns: repeat(2, 1fr);
}
.header-top-right a, .language > div > span{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}
.language{
    align-items: center;
}
.language > div{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.language > div > img{
    justify-self: center;
}
.faq{
    justify-self: start;
    align-self: center;
}
/*HEADER-TOP-END*/

/*MAIN-HEADER-START*/
.main-header{
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    height: auto;
}
.main-header-left > img{
    max-width: 90%;
}
.main-header-right{
    padding-left: 50px;
    color: white;
    grid-template-rows: 1.3fr 1.5fr 1fr;
}
.main-header-right p:first-of-type{
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}
.main-header-right p:last-of-type{
    font-size: 1.35em;
    margin: 0;
}
.main-text{
    align-self: end;
}
.social-buttons{
    grid-template-columns: repeat(3, 0.1fr);
    align-items: end;
    grid-gap: 40px;
}
.service-buttons{
    align-self: end;
    justify-self: end;
}
/*MAIN-HEADER-END*/
.down-arrow{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.down-arrow  img{
    cursor: pointer;
}
/*HEADER-END*/

/*ABOUT-START*/
.about{
    height: auto;
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
    grid-template-rows: auto;
    grid-row-gap: 100px;
}
/*ABOUT-TOP-START*/
.about-top{
    align-self: center;
    justify-self: center;
    position: relative;
}
.about-top > p{
    margin: auto;
    max-width: 50%;
}
.border-top{
    position: absolute;
    border-top: 1px solid #90caf9;
    top: -20px;
    left: 43%;
    right: 43%;
}
/*ABOUT-TOP-END*/

/*ABOUT-BOTTOM-START*/
.about-bottom{
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-items: center;
}
.travel-ticket-online{
    color: #64b5f6;
    font-size: 1.4em;
    line-height: 1.3;
}
/*ABOUT-BOTTOM-END*/
.swiper-container{
    display: none;
}
/*ABOUT-END*/

/*HOW-IT-WORK-START*/
.border-bottom{
    position: absolute;
    border-bottom: 1px solid #90caf9;
    bottom: 29px;
    left: 44%;
    right: 44%;
}
.how-it-work{
    margin-top: 50px;
}
.how-it-work div h1{
    padding: 40px;
}
.how-it-work-main{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
}
.how-it-work-main p{
    white-space: nowrap;
    color: #64b5f6;
    font-weight: 600;
    font-size: 1.2em;
}
.how-it-work-text{
    align-self: center;
}
/*HOW-IT-WORK-END*/

/*FOOTER-START*/
footer{
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: end;
}
.footer-content{
    grid-row-gap: 10px;
    margin-bottom: 30px;
}
.footer-content  p{
    font-size: 1.2em;
    color: white;
    margin: 0;
}
.footer-content div > a{
    height: 38px;
}
.footer-content div:first-of-type{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}
.footer-content div:last-of-type{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}
/*FOOTER-END*/